/* Styles pour le composant Contact Info */
@import '../sidebar/sidebar.component.scss';
@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-md;
  font-size: $font-size-sm;

  &:last-child {
    margin-bottom: 0;
  }

  i {
    width: 20px;
    margin-right: $spacing-md;
    color: #e8f4fd;
    text-align: center;
  }

  a {
    color: $text-light;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
      color: #e8f4fd;
    }
  }

  span {
    color: $text-light;
  }
}

.contact-link {
  background: none;
  border: none;
  color: $text-light;
  text-decoration: none;
  transition: color $transition-fast;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;

  &:hover {
    color: #e8f4fd;
  }

  &:focus {
    outline: 2px solid #e8f4fd;
    outline-offset: 2px;
    border-radius: $border-radius-xs;
  }
}