<div class="sidebar-block sidebar-education">
  <h3 class="sidebar-title"><i class="fad fa-graduation-cap"></i> {{ 'i18n.ui.sections.education' | translate }}</h3>
  <div class="education-content">
    <div class="education-item" *ngFor="let edu of education">
      <div class="education-main">
        <div class="education-degree">{{ edu.degree }}</div>
        <div class="education-school">{{ edu.school }}</div>
      </div>
      <span class="education-year">{{ edu.year }}</span>
    </div>
  </div>
</div>