.cv-sidebar {
  width: 100%;
  background: linear-gradient(to right, #495d7c, #608abf);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: visible;
  position: relative;
  color: white;
}

/* Responsive design */
@media (max-width: 768px) {
  .cv-sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}